.row {
	padding-top: 4px;
}

.space {
	padding-top: 12px;
}

.table-button {
	height: 36px;
	margin: auto;
}

.group-border {
	border: 1px solid #ced4da;
    border-radius: .25rem;
}

table-splitter {
	display: none;
}

.span-center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.row-badge {
	width: 60px !important;
	display: flex !important;
}